#Product:hover {
  background-color: #ddd;
}

table {
  border-collapse: collapse;
}

button {
  margin: 2px;
  padding: 4px 8px;
  cursor: pointer;
  border: 2px solid rgb(189, 188, 188);
  border-radius: 4px;
  box-shadow: 2px 2px rgba(128, 128, 128, 0.3);
}

button:hover {
  transform: translateY(2px);
}

button.View {
  background: #beecd0;
}

button.Edit {
  background: #81b8ce;
}

button.Delete {
  background: #f79696;
}

.Product-column_1 {
  width: 200px;
  text-align: left;
}

.Product-column_2 {
  width: 120px;
}

.Product-column_3 {
  width: 80px;
}

.Product-column_4 {
  width: 60px;
}

.Product-column_5 {
  width: 250px;
}